http:
  services:
    ojs:
      loadBalancer:
        servers:
          - url: "http://ojs:80"
  middlewares:
  {{- if eq (env "TRAEFIK_TLS_ENABLED") "true" }}
    ojs-https-redirect:
      redirectScheme:
        scheme: https
  {{- end }}
  routers:
    ojs-web:
      rule: 'Host(`{{ env "DOMAIN" | default "localhost" }}`)'
      entryPoints:
        - web
      {{- if eq (env "TRAEFIK_TLS_ENABLED") "true" }}
      middlewares:
        - ojs-https-redirect
      {{- end }}
      service: ojs
  {{- if eq (env "TRAEFIK_TLS_ENABLED") "true" }}
    ojs-websecure:
      rule: 'Host(`{{ env "DOMAIN" }}`)'
      entryPoints:
        - websecure
      service: ojs
      tls:
        certResolver: letsencrypt
  {{- end }}
